langchain
sentence-transformers
torch
pypdfium2
docling_parse
docling_ibm_models
opencv-python
streamlit
python-dotenv
faiss-cpu
numpy
rank_bm25
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-core
langchain-docling
opencv-python-headless
